<h1>Add A Sub and Links</h1>

<form action="<%= subs_url %>" method="post" accept-charset="utf-8">
	<input type="hidden" value="<% form_authenticity_token %>"%>

	<label for="Name">Name</label>
	<input type="text" name="sub[name]" id="name"><br><br>

	<!-- <input type="hidden" name="link[][url]" value="" id="link-url"> -->
	<!-- <input type="hidden" name="link[]" value="" id="link-title"> -->

		<% 5.times do |n| %>

			<label for="link-url-<%= n %>">Link URL</label>
			<input type="text" name="links[<%= n %>][url]" value=""
						 id="link-url-<%= n %>">

			<label for="link-title-<%= n %>">Link Title</label>
			<input type="text" name="links[<%= n %>][title]" value=""
						 id="link-title-<%= n %>"><br>

		<% end %>

	<p><input type="submit" value="Continue &rarr;"></p>
</form>