<h1><a href="/">Starlight Music</a></h1>

<% flash.each do |type, messages| %>
	<p>
		<div class="flash <%= type %>">
			<p>
				<% messages.each do |message| %>
					<%= message %>
					<% end %>
			</p>
		</div>
	</p>
<% end %>
<% user = current_user %>
<% if user.nil? %>
	<p><%= link_to "Log in", login_url, method: :get %></p>
	<p><%= link_to "Sign up", new_user_url, method: :get %></p>
<% else %>
	<p>logged in as <b><%= user.email %></b></p>
	<p><%= link_to "Log out", logout_url, :method => :delete %></p>
<% end %>
<hr>
<br><br>