<h2><a href="/">Starlight Music</a></h2>
<%= image_tag "starlight.jpg" %>
<% flash.each do |type, messages| %>
	<p>
		<div class="flash <%= type %>">
			<p>
				<% messages.each do |message| %>
					<%= message %>
					<% end %>
			</p>
		</div>
	</p>
<% end %>
<% user = current_user %>
<% if user.nil? %>
	<p>
		<span class="buttonlink">&nbsp;&nbsp;<%= link_to "Log in", login_url, method: :get %>&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<span class="buttonlink">&nbsp;&nbsp;<%= link_to "Sign up", new_user_url, method: :get %>&nbsp;&nbsp;</span>
	</p>
<% else %>
	<p>logged in as <b><%= user.email %></b></p>
	<p><span class="buttonlink">&nbsp;&nbsp;<%= link_to "Log out", logout_url, :method => :delete %>&nbsp;&nbsp;</span></p>
<% end %>
<p>
	<span class="navlink">&nbsp;&nbsp;<%= link_to "Users", users_url, method: :get %>&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<span class="navlink">&nbsp;&nbsp;<%= link_to "Artists", artists_url, method: :get %>&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</p>
<hr>