<h1>Cat Rental ...!</h1>

<% flash.each do |type, messages| %>
	<p>
		<%= type.capitalize %>:
		<p>
			<% messages.each do |message| %>
				<%= message %>
			<% end %>
		</p>
	</p>
<% end %>

<% user = current_user %>
<% if user.nil? %>
	<%= button_to "Login", login_url, method: :get %>
	<%= button_to "Signup", new_user_url, method: :get %>
<% else %>
	<h3>logged in as <%= user.username %></h3>
	<%= button_to "Logout", logout_url, :method => :delete %>
<% end %>

<br><br>