<!DOCTYPE html>
<html>
<head>
  <title>BackboneJournal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h2 style="color: #B030A0">Backbone <em>Journal</em></h2>

<%= yield %>

<p><strong>Powered by </strong><%= image_tag("rails.png") %> and <%= image_tag("backbone.png") %></p>
</body>
</html>
