<h3 class="paste-title"><%= paste.get('title') %></h3>

<div class="paste-body" data-id="<%= paste.get('id')%>" ><%= paste.get('body')%>
  <br>
  <% if(!paste.favorite()[0]) {%>
  <button id="favorite-button-<%= paste.get('id')%>" data-id="<%= paste.get('id')%>" class="favorite-button" >Favorite</button>
  <% } %>
</div>
