<form action="<%= user_circles_url(@user.id) %>" method="post" accept-charset="utf-8">
	<input type="hidden"
				 name="authenticity_token"
				 value="<%= form_authenticity_token %>">

				 <label for="circle_name"><strong>Circle name:</strong></label>
				 <input type="text" name="circle[name]" id="circle_name">

				 <p>Include some friends in the Friend Circle!</p>
<% User.all.each do |user| %>
<input type="checkbox"
			 name="circle[circled_friend_ids][]"
			 value="<%= user.id %>"
			 id="user<%= user.id %>">
			 <label for="user<%= user.id %>">
				 <%= user.email %>
			 </label>
<% end %>

	<p><input type="submit" value="Create a Friend Circle!"></p>
</form>