<% @cats.each do |cat| %>
<% img_filename = "#{cat.color}.jpg" %>
<img src="<%= asset_path( img_filename ) %>">
<% cat.sex == 'F' ? sex_symbol = "\u2640" :  sex_symbol = "\u2642" %>
<% cat.sex == 'F' ? sex_color = "FF8888" :  sex_color = "8888FF" %>
<font size="20" color="#<%= sex_color %>" ><%= sex_symbol %></font>
	<table>
		<% cat.attributes.each do |attribute, value| %>
				<tr>
					<td><b><%= attribute %>:</b></td><td><%= value %></td>
				</tr>
				<% end %>
	</table>
	<br>
<% end %>