<% img_filename = "#{@cat.color}.jpg" %>
<img src="<%= asset_path( img_filename ) %>">
<table>
	<% @cat.attributes.each do |attribute, value| %>
		<tr>
			<td><b><%= attribute %>:</b></td><td><%= value %></td>
		</tr>
	<% end %>
</table>
<br><br>
<b>Requests:</b> <% if @cat.rental_requests.empty? %> <%= "None"%> <% end %>
<br><br>
<% @cat.rental_requests.each_with_index do |request, index| %>
	request #<%= index + 1 %>
	<table>
		<% request.attributes.each do |attribute, value| %>
			<tr>
				<td><b><%= attribute %>:</b></td><td><%= value %></td>
			</tr>
		<% end %>
	</table>
	<% if request.status == "PENDING" %>
		<%= button_to "Approve!", approve_rental_request_url(request.id),
  :method => :put %>
		<%= button_to "Deny!", deny_rental_request_url(request.id),
  :method => :put %>
	<% end %>
	<br>
<% end %>