<!DOCTYPE html>
<html>
<head>
  <title>Paste Project</title>
  <link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body bgcolor="#CCCCCC">
<h1>Paste Project</h1>
<%= image_tag "gluestick.jpg" %>
<br><br>
<% if !current_user.nil? %>
<div class="user-bar">
  logged in as <strong><%= current_user.username %></strong>
    <%= button_to "Logout", session_url, :method => :delete %>
  </div>
<% end %>

<%= yield %>

<hr>
<p><strong>Powered by </strong><%= image_tag("rails.png") %> and <%= image_tag("backbone.png") %></p>

</body>
</html>
